.p-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .p-fnav{
        display: flex;

        .c-fnav--title{
            padding-right: 34px;
        }
    }
}